.red{
    background: #5492C0;
    h5{
        // border: 1px solid white;
        // border-radius: 2px;
    }
}

.green{
    background-color: #74AD5F;
}

.tables{
    border-radius: 5px;
    text-align: center;
    width: 10%;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6{
    margin:0;
}