img{
    height: 100px;
}

.images{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
}

.pointer{
    cursor: pointer;
}

.meal-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.meal-card{
    display: grid;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 5px 10px #d9e7cc;
    cursor: pointer;
}

.max-width-40{
    max-width: 40px;
}


.total-div{
    display: flex; 
    justify-content: space-around; 
    position: fixed;
    bottom: 0;
    margin: 0px 0px 10px 100px;
}

.right-side-div{
    background-color: #b9c9c2;
    height: 100vh;
    border-radius: 5px;
}

.btn{
    background-color: #88a597;
    max-height: 40px;
    margin-right: 5px;
}

.input-div{
    display: flex;
    margin-bottom: 25px;
        input{
        border: none;
        border-radius: 5px;
        background: #b9c9c2;
        border-bottom: 1px groove green;
        }
        h3{
            margin: 0px 10px 0px 0px;
        }  
}

.reserver{
    margin: 10px;
}

.center{
    text-align: center;
}