<app-nav-bar [showWaiter]="false" [tableNumber]="table[0]?.number"></app-nav-bar>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="images">
                    <div class="pointer" (click)="getMeal('breakfast')">
                        <img src="../../../assets/breakfast.png" alt="">
                        <p>Breakfast</p>
                    </div>
                    <div class="pointer" (click)="getMeal('appetizer')">
                        <img src="../../../assets/appetizer1.png" alt="">
                        <p>Appetizer</p>
                    </div>
                    <div class="pointer" (click)="getMeal('meal')">
                        <img src="../../../assets/meal.png" alt="">
                        <p>Meals</p>
                    </div>
                    <div class="pointer" (click)="getMeal('pasta')">
                        <img src="../../../assets/pasta.png" alt="">
                        <p>Pasta</p>
                    </div>
                    <div class="pointer" (click)="getMeal('dessert')">
                        <img src="../../../assets/sweets.png" alt="">
                        <p>Dessert</p>
                    </div>
                    <div class="pointer" (click)="getMeal('beverages')">
                        <img src="../../../assets/liquor.png" alt="">
                        <p>Beverages</p>
                    </div>

                </div>
            </div>
            <hr>
            <div class="meal-div">
                <div class="meal-card" (click)="mealClick(meal.title,price[i], meal.quantity = 1)" *ngFor="let meal of meals; let i = index;">
                    <img src="{{meal.image}}" alt="">
                    {{ (meal.title.length >= 20)? (meal.title | slice:0:15)+'..':(meal.title) }}
                    <h2 >{{price[i]}}$</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4 right-side-div" >
            <h2 class="reserver">{{table[0]?.reserver}}</h2>
            <form *ngIf="table[0]?.reserver == ''" (ngSubmit)="onSubmit(form)" #form="ngForm">
            <div class="input-div">
            <h3>Reserver: </h3>
            <input type="text" name="reserver" ngModel>
            </div>
            </form>

            <div class="row" style="display: flex;">
                <div class="col max-width-40">
                <p class="max-width-40">Q</p>
                </div>
                <div class="col">
                <p>Product</p>
                </div>
                <div class="col">
                <p>Price</p>
                </div>
            </div>

            <div *ngFor="let item of order" style="display:flex">
                <div class="row" style="width: 100%;">
                    <div class="col max-width-40">
                        <p *ngIf="item.quantity > 0">{{item.quantity}}</p>
                    </div>
                    <div class="col">
                        <h3>{{item.meal}}</h3>
                    </div>
                    <div class="col">
                        <h5>{{item.price}}</h5>
                    </div>
                </div>
                <div style="display: flex;">
                <button class="btn" (click)="incrementMeal(item)">+</button>
                <button class="btn" (click)="decrementMeal(item)">-</button>
                <button class="btn" (click)="deleteMeal(item)">X</button>
            </div>
            </div>
            <div class="total-div">
                <p style="margin: 5px 40px 10px 0px;">Total: {{total}}$</p>
                <button class="btn">Buy</button>
            </div>
        </div>



        <!-- <div class="col-md-4" style="background-color: green;">
            <div class="row">
                <h3>{{table[0]?.reserver}}</h3>
                <form *ngIf="table[0]?.reserver == ''" (ngSubmit)="onSubmit(form)" #form="ngForm">
                <input type="text" name="reserver" ngModel>
                </form>
    
                <div class="row" style="display: contents;">
                    <div class="col max-width-40">
                        <p class="max-width-40">Q</p>
                        <div class="col" *ngFor="let item of order">
                            <p *ngIf="item.quantity > 0" >{{item.quantity}}</p>
                        </div>
                    </div>
                    
                    <div class="col">
                        <p>Product</p>
                        <div class="col" *ngFor="let item of order">
                            <h3>{{item.meal}}</h3>
                        </div>
                    </div>
                
                    <div class="col">
                        <p>Price</p>
                        <div class="col" style="display: flex;" *ngFor="let item of order">
                            <p>{{item.price}}</p>
                            <div style="display: flex; margin-left: 45px;">
                                <button (click)="incrementMeal(item)">+</button>
                                <button (click)="decrementMeal(item)">-</button>
                                <button (click)="deleteMeal(item)">X</button>
                            </div>
                            
                        </div>
                    </div>


                
                
                </div>
            </div>
        </div> -->
        
    </div>
</div>