<!-- Login
<br>
<br>
<button mat-raised-button color="primary" routerLink="/home">
    <mat-icon>home</mat-icon>
    <span>Home</span>
</button>

<mat-card>
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()" type="">
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input autocomplete="off" formControlName="email" type="email" matInput placeholder="Email">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input autocomplete="off" formControlName="password" type="password" matInput placeholder="Password">
            </mat-form-field>
        </p>
        <div *ngIf="firebaseErrorMessage != ''" class="error-style">
            <span>{{ firebaseErrorMessage }}</span>
        </div>

        <button mat-raised-button color="primary">Login</button>
    </form>
</mat-card>

<div class="progressIndicator" [style.display]="isProgressVisible ? 'inline' : 'none' ">
    <mat-progress-spinner class=" example-margin" color="primary" mode="indeterminate"></mat-progress-spinner>
</div> -->

<div style="display: flex;">
    <div *ngFor="let user of users">
    <h1 (click)="chosenWaiter(user.username)" style="cursor: pointer;">{{user.username}}</h1>
</div>
</div>


<div id="container"> 
    <!-- <ng-container *ngFor="let pass of password; let i = index"> 
        <div>
            {{password}}
        </div>
    </ng-container>  
     -->
    <input type="text" name="" id="" class="password-input" [(ngModel)]="password" placeholder="Password">

    <ul id="keyboard">   
        <li class="letter" (click)="click(1)">1</li>  
        <li class="letter" (click)="click(2)">2</li>  
        <li class="letter" (click)="click(3)">3</li>  
        <li class="letter clearl" (click)="click(4)">4</li>  
        <li class="letter" (click)="click(5)">5</li>  
        <li class="letter" (click)="click(6)">6</li> 
      
        <li class="letter clearl" (click)="click(7)">7</li>  
        <li class="letter" (click)="click(8)">8</li>  
        <li class="letter" (click)="click(9)">9</li>  
        <li class="letter" (click)="click(0)">0</li>
        <li class="switch">abc</li>  
         <li class="return" (click)="loginUser()">login</li>
         <li class="delete lastitem"(click)="deletePass()"><</li>   
    </ul>  
</div>  

