

<div style="display: flex; justify-content: center; padding-top: 80px;">
    <div *ngFor="let user of users; let i = index">
    <button class="button" [ngClass]="{active: isActive(user.username)}" (click)="chosenWaiter(user.username)" style="cursor: pointer;">{{user.username}}</button>
</div>
</div>


<div id="container"> 
    <input type="text" name="" id="" class="password-input" [(ngModel)]="password" placeholder="Password">
    <p *ngIf="warning">please check your login info</p>

    <ul id="keyboard">   
        <li class="letter" (click)="click(1)">1</li>  
        <li class="letter" (click)="click(2)">2</li>  
        <li class="letter" (click)="click(3)">3</li>  
        <li class="letter clearl" (click)="click(4)">4</li>  
        <li class="letter" (click)="click(5)">5</li>  
        <li class="letter" (click)="click(6)">6</li> 
      
        <li class="letter clearl" (click)="click(7)">7</li>  
        <li class="letter" (click)="click(8)">8</li>  
        <li class="letter" (click)="click(9)">9</li>  
        <li class="switch" (click)="click(0)">0</li>
         <li class="return" (click)="loginUser()">login</li>
         <li class="delete lastitem"(click)="deletePass()"><</li>   
    </ul>  
</div>  
